@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ececec;
  color: #222222;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  padding: 0;
  list-style: none;
}

/*Настройка секций*/
.section {
  padding: 6rem 0 3rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 1.3rem;
}

.section__title {
  margin-bottom: 3rem;
}

/*кнопка*/
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #61dafb;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #93e6fc;
  color: #0897f5;
}

.header {
  background-color: #0897f5;
}

.mobile-number {
  padding-top: 0.4rem;
}

.phone-wrap img {
  margin-right: 5px;
  width: 1.1rem;
}

.free-number {
  padding-top: 1rem;
  font-size: 1.4rem;
}

.free-number img {
  width: 3.2rem;
}

.social {
  padding-top: 1rem;
}

.social-icons img {
  margin-right: 0.3rem;
  width: 1.1rem;
}

@media screen and (max-width: 992px) {
  .mobile-number {
    font-size: 0.7rem;
  }
  .phone-wrap img {
    width: 0.7rem;
  }
  .free-number {
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .free-number img {
    width: 2.5rem;
  }
  .social {
    padding-top: 0.5rem;
    font-size: 0.7rem;
  }
  .social img {
    margin-right: 0.3rem;
    width: 0.8rem;
  }
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .mobile-number {
    font-size: 0.45rem;
  }
  .phone-wrap img {
    width: 0.5rem;
  }
  .free-number {
    font-size: 0.7rem;
  }
  .free-number img {
    width: 1.5rem;
  }
  .social {
    font-size: 0.6rem;
  }
  .social img {
    margin-right: 0.3rem;
    width: 0.7rem;
  }
}

@media screen and (max-width: 450px) {
  .mobile-number {
    font-size: 0.4rem;
  }
  .phone-wrap img {
    width: 0.4rem;
  }
  .free-number {
    font-size: 0.5rem;
  }
  .free-number img {
    width: 1.2rem;
  }
  .social {
    font-size: 0.4rem;
  }
  .social img {
    margin-right: 0.3rem;
    width: 0.7rem;
  }
}

@media screen and (max-width: 350px) {
  .mobile-number {
    font-size: 0.3rem;
  }
  .phone-wrap img {
    width: 0.4rem;
  }
  .free-number {
    font-size: 0.4rem;
  }
  .free-number img {
    width: 1.0rem;
  }
  .social {
    font-size: 0.4rem;
  }
  .social img {
    margin-right: 0.1rem;
    width: 0.5rem;
  }
}

/*меню*/
.navbar-nav {
  margin: 0 auto;
  padding-top: 15px;
  /*Активная ссылка-Главная*/
  /*Остальные ссылки*/
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  position: relative;
}

/*кнока меню*/
.navbar-toggler {
  width: 82px;
  height: 73px;
  position: relative;
  border: 0;
}

.navbar-toggler span, .navbar-toggler span::before, .navbar-toggler span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
}

.navbar-toggler span::before, .navbar-toggler span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-toggler span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar-toggler span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

/*при клике на меню средняя полоса обнуляется*/
.navbar-toggler_active span {
  height: 0;
}

/*при клике на меню верхняя полоса поворачивается*/
.navbar-toggler_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

/*при клике на меню нижняя полоса поворачивается*/
.navbar-toggler_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    height: 65px;
  }
  .nav-link {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    height: 50px;
  }
  .nav-link {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .navbar-toggler {
    height: 40px;
  }
  .nav-link {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 350px) {
  .nav-link {
    font-size: 0.3rem;
  }
}

.main {
  background-image: url("../../img/main/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title h1 {
  color: #ffffff;
  line-height: 1.45;
  font-size: 2rem;
  text-transform: uppercase;
}

.main-title p {
  color: #ffffff;
  font-size: 1.5rem;
}

/*Оформление форм*/
.form {
  background-color: transparent;
  padding: 1rem 1rem;
  text-align: center;
  border: 1px solid #61dafb;
  border-radius: 5px;
}

.form-header {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.form-header small {
  font-size: 0.9rem;
}

.form-input {
  display: block;
  margin: 2rem 0;
  padding: 1.5rem;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-btn {
  display: block;
  width: 100%;
  height: 5.0rem;
  font-size: 1.6rem;
}

.decision-title p {
  font-size: 0.5rem;
}

.decision-block {
  padding: 1rem 2.8rem 4rem;
  min-height: 41rem;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.decision-block:hover {
  -webkit-box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.3);
}

.decision-block:hover .decision-block-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.decision-block h4 {
  margin: 3rem 0rem;
  font-size: 1.9rem;
}

.decision-block-img {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.decision-block-img img {
  margin-bottom: 2rem;
  display: inline-block;
  max-height: 258px;
  width: 100%;
}

.decision-block p {
  font-size: 1.1rem;
  min-height: 4rem;
}

.allegiance {
  margin-top: 2rem;
  text-align: center;
}

.benefit {
  background-color: #ffffff;
}

.benefit-block {
  margin-bottom: 2rem;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 2rem;
  min-height: 37rem;
}

.benefit-block h4 {
  font-size: 2.1rem;
  text-align: center;
}

.benefit-block h5 {
  text-align: center;
}

.benefit-block ul {
  padding-left: 0;
  padding-top: 2rem;
}

.benefit-block ul li {
  margin-bottom: 2rem;
  padding-left: 3.5rem;
  position: relative;
}

.benefit-block ul li strong {
  text-transform: uppercase;
  color: #0897f5;
}

.benefit-block ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background: url(../../img/benefit/check.svg) center no-repeat;
  background-size: 40%;
}

.price-block {
  padding-bottom: 2rem;
  -webkit-box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  border: 1px solid #61dafb;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.price-block:hover {
  -webkit-box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.3);
}

.price-block:hover .price-block-btn {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.price-block-title {
  padding: 1rem;
  color: #ffffff;
  background-color: #61dafb;
}

.price-block-title h4 {
  font-size: 1.9rem;
}

.price-block-title span {
  display: block;
}

.price-block-text {
  padding: 1rem;
  min-height: 18rem;
}

.price-block-text h5 {
  margin-bottom: 1rem;
}

.price-block-text ul li {
  margin-bottom: 1rem;
}

.price-block p {
  font-size: 2rem;
}

.price-block-btn {
  padding: 0.1rem 4rem;
  position: relative;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(0%, 138%);
          transform: translate(0%, 138%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.price-block-btn span {
  display: block;
}

.price-employee {
  background-color: #ffffff;
}

.price-employee-block {
  border: 1px solid #ececec;
}

.price-employee-block-title {
  color: #222222;
  background-color: #ececec;
}

.price-employee-block-btn {
  background-color: #ececec;
}

.price-employee-block-btn:hover {
  background-color: lightgray;
  color: #222222;
}
/*# sourceMappingURL=style.css.map */