.decision
 &-title
  margin-bottom: 3rem
	&-block
		padding: 1rem 2.8rem 4rem
		min-height: 41rem
		background-color: 
		box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17)
		text-align: center
		h4
			margin: 3rem 0rem
			font-size: 1.9rem
		img
			margin-bottom: 2rem
			display: inline-block
			//width: 100%
   max-height: 258px
			//max-width: 30rem
  p
   min-height: 3rem

.allegiance
 margin-top: 2rem
 text-align: center